@media (max-width:576px){
	.container{
		width:90%;
	}
	.col-lg-2{
		width:50%;
	}
	.col-lg-6{
		width:100%;
	}
	.col-lg-4{
		width:100%;
	}
	.col-lg-8{
		width:100%;
	}
	.d-sm-none{
		display:none;
	}
	.d-sm-block{
		display:block;
	}
	.navbar-icon{
		display:block;
		text-align:end;
	}
	.aboutcontent{
		padding:0;
	}
	.headcontent{
		width:100%;
	}
	.headcontent h1{
		font-size:26px;
	}
	p{
		text-align:justify;
	}
	.website{
		margin-bottom:20px;
	}
	.website h2{
		font-size:18px;
	}
	.footer{
		text-align:center;
	}
	.contact-all{
		text-align:center;
		margin-top:20px;
	}
}

@media (min-width:576px) and (max-width:992px){
	.container{
		width:90%;
	}
	.col-lg-2{
		width:33.33%;
	}
	.col-lg-6{
		width:100%;
	}
	.col-lg-4{
		width:100%;
	}
	.col-lg-8{
		width:100%;
	}
	.col-md-6{
		width:50%;
	}
	.d-md-none{
		display:none;
	}
	.d-md-block{
		display:block;
	}
	.order-md-1{
		order:1;
	}
	.order-md-2{
		order:2;
	}
	.navbar-icon{
		display:block;
		text-align:end;
	}
	.aboutcontent{
		padding:0;
	}
	.headcontent{
		width:100%;
	}
	.headcontent h1{
		font-size:46px;
	}
	p{
		text-align:justify;
		font-size:20px;
	}
	.website{
		margin-bottom:20px;
	}
}